::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333;
}
::-webkit-scrollbar-trac {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

.mat-form-field-appearance-outline {
  .mat-form-field-subscript-wrapper {
    padding: unset !important;
  }
}

@media screen and (min-width: 768px) {
  .responsive-content_mobile {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .responsive-content_web {
    display: none !important;
  }
}