:host {
  display: flex;
  justify-content: center;
}

.form-lyrics {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 2em 0;
}

textarea {
  min-height: 20em;
}

.form-field {
  margin-bottom: 1em;
}

.form-field__logo-reset {
  position: absolute;
  top: 0;
  right: 0;
  .icon-reset {
    font-size: 1.5em;
  }
}

.form-field__logo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border: 10px dashed #eeeeee;
  margin-bottom: 1em;
  p {
    margin: 0.25em 0;
  }
}

.input-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.image-logo {
  max-width: 8em;
}

.form-field__colors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  mat-form-field  {
    width: 100%;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

@media screen and (max-width: 767px) {
  .form-lyrics {
    width: 100%;
    padding: 1em;
  }
  textarea {
    min-height: 10em;
  }
}